#home{
    height: calc(100vh);
    display: flex;
    background-image: url("background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.cover-background{
    background-color: rgba(36, 36, 36, 0.5);
    width: 100%;
  }

article{
    display: flex;
    height: calc(100% - 76px);
    justify-content: center;
}

.all-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    a:link { 
        text-decoration: none; 
    } 
    a:visited { 
        text-decoration: none; 
    } 
    a:hover { 
        text-decoration: none; 
    } 
    a:active { 
        text-decoration: none; 
    }
}
.card{
    width: 250px;
    height: 350px;
    border: black 1px solid;
    border-radius: 20px;    
}

.card.championnat{
    background-image: url("championnats.png");
}
.card.equipe{
    background-image: url("equipes.png");
}

.cover-card{   
  background-color: rgba(173, 173, 173, 0.1);
  height: 100%;
  border-radius: 20px;  
}

.navigation ul {
    display: none;
}

.card:hover{
    
    margin-bottom: 1%;
    transition: 0.5s;
    box-shadow: 15px 15px 30px rgba(25, 25, 25), -15px -15px 30px rgba(60, 60, 60);
    
    .cover-card{
        transition: 0.5s;
        background-color: rgba(173, 173, 173, 0.8);
    }
    
    .title-card{
        display: flex;
        position: relative;
        top: 150px;
        left: 10px;
        transform: rotate(55deg);
        color: black;
        font-size: 30px;
        font-weight: 700;
        
    }

    @media screen and (max-width: 1400px) {
        #home{
            background-image: none;
        }
        
    }
}