#home{
    height: calc(100vh);
    display: flex;
    justify-content: center;
    background-image: url("../public/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

article{
    display: flex;
    height: calc(100% - 76px);
    justify-content: center;
}

.all-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}
.card{
    width: 250px;
    height: 350px;
    border: var(--color-red) 1px solid;
    border-radius: 20px;    
}

nav ul {
    display: none;
}

.card:hover{
    margin-bottom: 1%;
    box-shadow: 15px 15px 30px rgba(25, 25, 25), -15px -15px 30px rgba(60, 60, 60);
}